snippet def
def ${1:name}(${2: ${3:*args}}) do
	${0:# TODO}
end
endsnippet


snippet defp
defp ${1:name}(${2: ${3:*args}}) do
	${0:# TODO}
end
endsnippet


snippet mod
defmodule ${1:name}(${2: ${3:*args}}) do
	${0:# TODO}
end
endsnippet


